# Problem Statement 1:
Is gender independent of education level? A random sample of 395 people were
surveyed and each person was asked to report the highest education level they
obtained. The data that resulted from the survey is summarized in the following table:
High School Bachelors Masters Ph.d. Total
Female 60 54 46 41 201
Male 40 44 53 57 194
Total 100 98 99 98 395
Question: Are gender and education level dependent at 5% level of significance? In
other words, given the data collected above, is there a relationship between the
gender of an individual and the level of education that they have obtained?
Problem Statement

In [6]:
mean_female = 201/4
mean_female

50.25

In [8]:
mean_male = 194/4
mean_male

48.5

In [10]:
gender_mean = (mean_male + mean_female)/2
gender_mean

49.375

In [11]:
ss_gender = 2 * (mean_female - gender_mean)**2 + 2 *(mean_male -gender_mean)**2
ss_gender

3.0625

In [13]:
mean_school = 100/2
mean_bachelor = 98/2
mean_master = 99/2
mean_phd = 98/2

In [14]:
education_mean = (mean_school+mean_bachelor+mean_master+mean_phd)/4
education_mean

49.375

In [15]:
ss_edu = 2*(mean_school - education_mean)**2 + 2*(mean_bachelor-education_mean)**2 + (mean_master - education_mean)**2 + 2*(mean_phd -education_mean)**2
ss_edu

1.359375

In [16]:
mss_gender = ss_gender/(3-1)
mss_gender

1.53125

In [17]:
mss_edu = ss_edu/(3-1)
mss_edu

0.6796875

Total Female 60 54 46 41 201 Male 40 44 53 57 194

In [18]:
tss = (60 - 49.375)**2 + (54 - 49.375)**2 + (46 - 49.375)**2 + (41 - 49.375)**2 +(40 - 49.375)**2 + (44 - 49.375)**2 + (53 - 49.375)**2 + (57 - 49.375)**2
tss

403.875

In [20]:
sse = tss - ss_gender - ss_edu
sse

399.453125

In [21]:
deg=(2-1)*(4-1)

In [22]:
deg

3

In [23]:
msse = sse/deg
msse

133.15104166666666

In [24]:
f_gender = mss_gender/msse
f_gender

0.011500097789947194

In [26]:
f_edu = mss_edu/msse
f_edu

0.005104635243496969

# Problem Statement 2:
Using the following data, perform a oneway analysis of variance using Î±=.05. Write
up the results in APA format.
[Group1: 51, 45, 33, 45, 67]
[Group2: 23, 43, 23, 43, 45]
[Group3: 56, 76, 74, 87, 56]

# Problem Statement 3:
Calculate F Test for given 10, 20, 30, 40, 50 and 5,10,15, 20, 25.
For 10, 20, 30, 40, 50:

In [3]:
a = 10+20+30+40+50
m1=a/5
m1

30.0

In [4]:
b = 5+10+15+20+25
m2 = b/5
m2

15.0